.Vlogection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* mobile */
@media (max-width: 992px) {
    .vlogh1 {
        font-size: 3rem;
        margin: 0;
        line-height: 69px;
        width: 100%;
        letter-spacing: 0px;
        color: #1f348d;
        margin-top: 9rem;
    }

    .vlogp {
        width: 82%;
        margin-top: 1rem;
    }

    .logo {
        width: 50px;
    }

    .hamburger-icon {
        display: block;
        margin-right: 3rem;
    }

    .home {
        flex-direction: column;
    }

    .why {
        align-items: flex-start;
        min-height: 35vh;
        flex-direction: column;
        align-items: center;
        align-items: center;
        height: 76vh;
    }

    .whyImg {
        margin-top: 2rem;
        height: 367px;
        width: 322px;
        border-radius: 20%;
        border: 2px solid #000000e5;
    }

    .whyFlex {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .whyFlex-h1 {
        font-size: 1.4rem;
        margin: 0;
    }

    .whyflex-p {
        width: 90%;
        font-size: 15px;
        margin: 0;
        align-items: center;
        text-align: center;
    }

    .whyflexli {
        font-size: 12px;
    }

    .Years-h1 {
        font-size: 20px;

    }

    .history-box {
        flex-direction: column;
        align-items: center;
    }

    .history-box-p {
        font-size: 21px;
        padding: 9px 19px;
        line-height: 29px;
        letter-spacing: 0px;
    }

    .history-img {
        width: 367px;
        border-radius: 20px;
    }

    .recognitions-scroll {
        gap: 2px;
    }

    .login {
        width: 100%;
        height: 38vh;
    }

    .leader-box {
        width: 245px;
    }

    .leader-p {
        font-size: 11px;
        line-height: 18px;
        overflow-y: scroll;

    }

    .leader {
        height: 28vh;
    }
}


/* Responsive */
@media (max-width: 900px) {
    .hamburger-icon {
        display: block;
        margin-right: 2rem;
    }

    .vlogh1 {
        font-size: 3rem;
        margin: 0;
        line-height: 69px;
        width: 100%;
        letter-spacing: 0px;
        color: #1f348d;
        margin-top: 9rem;
    }

    .vlogp {
        width: 82%;
        margin-top: 1rem;
    }

    .logo {
        width: 50px;
    }

    .hamburger-icon {
        display: block;
        margin-right: 3rem;
    }

    .list {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        background-color: #000000e5;
        height: 100vh;
        width: 60%;
        padding-top: 100px;
        gap: 2rem;
        transition: 0.5s ease-in-out;
    }

    .leader-box {
        width: 245px;
    }

    .list.active {
        right: 0;
        right: 0;
        width: 100%;
        margin: 0;
    }

    .recognitions-scroll {
        gap: 2px;
    }

    .login {
        width: 100%;
        height: 38vh;
    }

    .leader-p {
        font-size: 11px;
        line-height: 18px;
        overflow-y: scroll;

    }

    .leader {
        height: 28vh;
    }

    .hamburger-icon {
        display: block;
    }

    .list {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        background-color: #000000e5;
        height: 100vh;
        width: 60%;
        padding-top: 100px;
        gap: 2rem;
        transition: 0.5s ease-in-out;
    }

    .leader-box {
        width: 245px;
    }

    .home-p {
        font-size: 16px;
        line-height: 30px;
        width: 80%;
        margin: 0 auto;
    }

    .homeImg {
        width: 57% !important;
        margin-top: -100px;
    }

    .list.active {
        right: 0;
    }

    .recognitions-scroll {
        gap: 2px;
    }

    .login {
        width: 100%;
        height: 38vh;
    }

    .leader-p {
        font-size: 11px;
        line-height: 18px;
        overflow-y: scroll;

    }

    .leader {
        height: 28vh;
    }

    .footerStart {
        justify-content: center;
    }

    .footerh1 {
        font-size: 13px;
    }

    .footer-list {
        gap: 3px;
    }

    .footertag {
        font-size: 9px;
    }

    .footer-list {
        display: block;
    }

    .footerEnd {
        margin: 4px;
    }

    .courseBox {
        flex-direction: column;
    }

    .courseP {
        width: 100%;
    }

    .course1 {
        margin-top: 7rem;
        width: 86%;
    }

    .course2 {
        width: 80%;
    }

    .courseimg {
        border-radius: 44px;
    }

    .courseimg {
        height: auto;
    }

    .c-box {
        width: 262px;
        height: 385px;
    }

    .vlogh1 {
        font-size: 3rem;
        margin-top: 1rem;
        padding: 12px;
    }

    .footerEnd {
        font-size: 10px;
        width: 80%;
        text-align: center;
    }

    .vlogp {
        font-size: 22px;
        width: 93%;
        font-weight: lighter;
        margin: 0 auto;
        letter-spacing: 3px;
    }

    .vlog-section {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
    }

    .placement2 {
        flex-direction: column;
        width: 100%;
    }

    .p2-h1 {
        font-size: 22px;
    }

    .p2-p {
        font-size: 14px;
    }

    .p2-img {
        width: 85%;
        margin: 0 auto;
        border-radius: 20px;
    }
}

@media (max-width: 686px) {
    .h2-heading {
        font-size: 2rem;
    }

    .logo {
        width: 50px;
    }

    .hamburger-icon {
        display: block;
        margin-right: 3rem;
    }

    .vlog-img {
        height: 389px;
        width: 403px;
    }

    .vlogH1 {
        font-size: 2.5rem;
    }

    .home-p {
        font-size: 16px;
        line-height: 30px;
    }

    .vlogh1 {
        font-size: 3rem;
        margin: 0;
        line-height: 69px;
        width: 100%;
        letter-spacing: 0px;
        color: #1f348d;
        margin-top: 9rem;
    }

    .vlogp {
        width: 82%;
        margin-top: 1rem;
    }

    .leader-h1 {
        font-size: 20px;
    }

    .homeImg {
        width: 75% !important;
        margin-top: -100px;
    }

    .history {
        margin-top: 6rem;
    }

    .history-box-p {
        font-size: 15px;
    }

    .leader-box {
        width: 245px;
    }

    .history-heading {
        font-size: 1.2rem;
    }

    .history-img {
        width: 351px;
        border-radius: 20px;
    }

    .recognitions-scroll {
        gap: 2px;
    }

    .login {
        width: 100%;
        height: 38vh;
    }

    .leader-p {
        font-size: 11px;
        line-height: 18px;
        overflow-y: scroll;

    }

    .c-box {
        width: 234px;
        height: 268px;
    }

    .leader {
        height: 28vh;
    }

    .footerStart {
        justify-content: center;
    }

    .footerh1 {
        font-size: 13px;
    }

    .footer-list {
        gap: 3px;
    }

    .footertag {
        font-size: 9px;
    }

    .footer-list {
        display: block;
    }

    .footerEnd {
        margin: 4px;
    }

    .courseh1 {
        font-size: 3rem;
    }

    .vlogh1 {
        font-size: 3rem;
        margin-top: 1rem;
        width: 80%;
    }

    .vlogp {
        font-size: 22px;
        width: 93%;
        font-weight: lighter;
        margin: 0 auto;
        letter-spacing: 3px;
    }

    .home-p {
        font-size: 16px;
        line-height: 30px;
        width: 80%;
        margin: 0 auto;
    }

    .homeImg {
        width: 57% !important;
        margin-top: -100px;
    }

    .placement2 {
        flex-direction: column;
        width: 100%;
    }

    .p2-h1 {
        font-size: 22px;
    }

    .p2-p {
        font-size: 14px;
    }

    .p2-img {
        width: 85%;
        margin: 0 auto;
        border-radius: 20px;
    }

    .company {
        height: 6vh;
    }

    .footerEnd {
        font-size: 10px;
        width: 80%;
        text-align: center;
    }

    .company-ul {
        gap: 1rem;
        height: 6vh;
        display: flex;
        justify-content: center;

    }

    .company-img {
        width: 128px;
    }
}


@media (max-width: 400px) {
    .history-img {
        width: 254px;
        border-radius: 20px;
    }

    .vlog-img {
        height: 389px;
        width: 403px;
    }

    .recognitions-scroll {
        gap: 2px;
    }

    .vlogh1 {
        font-size: 3rem;
        margin: 0;
        line-height: 69px;
        width: 100%;
        letter-spacing: 0px;
        color: #1f348d;
        margin-top: 9rem;
    }

    .placement2 {
        flex-direction: column;
        width: 100%;
    }

    .p2-h1 {
        font-size: 22px;
    }

    .p2-p {
        font-size: 14px;
    }

    .p2-img {
        width: 85%;
        margin: 0 auto;
        border-radius: 20px;
    }

    .vlogp {
        width: 82%;
        margin-top: 1rem;
    }

    .homeImg {
        width: 50% !important;
        margin-top: -100px;
    }

    .logo {
        width: 50px;
    }

    .footerEnd {
        font-size: 10px;
        width: 80%;
        text-align: center;
    }

    .hamburger-icon {
        display: block;
        margin-right: 3rem;
    }

    .login {
        width: 100%;
        height: 38vh;
    }

    .leader-box {
        width: 245px;
    }

    .leader-p {
        font-size: 11px;
        line-height: 18px;
        overflow-y: scroll;

    }

    .courseh1 {
        font-size: 3rem;
    }

    .leader {
        height: 28vh;
    }

    .footerStart {
        justify-content: center;
    }

    .footerh1 {
        font-size: 13px;
    }

    .footer-list {
        gap: 3px;
    }

    .footertag {
        font-size: 9px;
    }

    .footer-list {
        display: block;
    }

    .footerEnd {
        margin: 4px;
    }

    .c-box {
        width: 192px;
        height: 302px;
    }

    .home-p {
        font-size: 16px;
        line-height: 30px;
        width: 80%;
        margin: 0 auto;
    }
}

@media (max-width:360px) {
    .vlog-img {
        height: 309px;
        width: 350px;
    }

    .footerEnd {
        font-size: 10px;
        width: 80%;
        text-align: center;
    }
}